<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

<div ng-app="language" ng-controller="languageCtrl">
    <p>Language :
        <select
                ng-options="language.name for language in languages track by language.id"
                ng-model="language">
        </select>
    </p>
    <button ng-click="loadLanguage()">Load language</button>
    <p>Language : {{ textContent.language }}</p>
</div>

<script src="language/languageApplication.js"></script>
<script src="language/languageCtrl.js"></script>

</body>
</html>